<nav class="navbar navbar-light bg-light fixed-top" *ngIf="login">
  <div class="container-fluid d-flex justify-content-center w-100 px-0">
    <div class="row align-items-center justify-content-between w-100">
      <div class="col-12">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <button class="navbar-toggler mr-lg-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <fa-icon [icon]="menuHamburguesaIcon"></fa-icon>
              </button>

              <a class="navbar-brand" href="#">Rosario Snack</a>
            </div>

            <div class="col-4 d-flex justify-content-end align-items-center">
              <nav id="user_logged" class="d-flex align-items-center mr-lg-3" style="color: grey;">
                <div class="usuario-imagen d-none d-lg-block mt-0 mr-3">
                  <img [src]="this.imagen" alt="Imagen Usuario" style="border-radius: 50%;">
                </div>
                <div class="user-info d-none d-lg-block">
                  <span id="nombreUsuario" class="nombre-usuario d-block">
                    {{ this.nombreUsuario }}
                  </span>
                  <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" class="link-mis-datos">

                    Mis Datos
                  </a>
                </div>
              </nav>

              <button class="text-right" (click)= "verCarrito()">

                <fa-icon [ngClass]="{'con-items' : cantidadEnCarrito > 0}" [icon]="cartIcon" class="cartIcon mr-lg-3" [attr.data-count]="cantidadEnCarrito"></fa-icon>

              </button>

              <button class="text-right">
                <fa-icon [icon]="bellIcon" class="bellIcon"></fa-icon>
              </button>
            </div>
          </div>
       </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto text-center mb-2 mb-lg-0">
            <li class="nav-item">

              <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']" class="nav-link active" data-toggle="collapse" data-target="#navbarSupportedContent" aria-current="page" >Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="this.authService.userRol === 'ADMIN'" [routerLink]="['/admin/pedidos']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Pedidos</a>
              <a *ngIf="this.authService.userRol === 'CLIENT'" [routerLink]="['/client/pedidos']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Pedidos</a>
            </li>
            <!-- Ejemplo para ocutlar opcion. Aunque lo vamos a hacer por GUARD -> <a *ngIf="this.authService.userRol === 'ADMIN'" -->
            <li class="nav-item">
              <a *ngIf="this.authService.userRol === 'ADMIN'" [routerLink]="['/admin/productos']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Productos</a>
              <a *ngIf="this.authService.userRol === 'CLIENT'" [routerLink]="['/productos/listado']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Productos</a>
            </li>
            <li class="nav-item">
              <a *ngIf="this.authService.userRol === 'ADMIN'"  [routerLink]="['/admin/listar-usuarios']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent"  href="#">Usuarios</a>
            </li>
            <li class="nav-item">
              <a *ngIf="this.authService.userRol === 'ADMIN'" [routerLink]="['/admin/proveedores']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Proveedores</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/informacion/informacion-general']" [routerLinkActive]="['actived']" class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent"  href="#">Información</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/mis-datos']" class="d-lg-none d-block nav-link" data-toggle="collapse">Mis Datos</a>
            </li >
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent"  href="#" (click)="cerrarSesion()">Cerrar sesión</a>
            </li>

          </ul>
        </div>
      </div>

      <!-- <div class="col-4 text-right">




      </div> -->
    </div>
  </div>
</nav>

<nav id="navigation" class="navbar navbar-dark bg-dark justify-content-betwee d-none" *ngIf="login">
  <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']" class="col-lg-1">
    <span aria-hidden="true"><i class="fa fa-home"></i> Inicio</span>
  </a>
  <a [routerLink]="['/pedidos']" [routerLinkActive]="['actived']" class="col-lg-1">
    <span aria-hidden="true"><i class="fa fa-gear"></i> Pedidos</span>
  </a>
  <a [routerLink]="['/listar-usuarios']" [routerLinkActive]="['actived']" class="col-lg-1">
    <span aria-hidden="true"><i class="fa fa-cogs"></i> Usuarios</span>
  </a>
  <a [routerLink]="['/informacion/informacion-general']" [routerLinkActive]="['actived']" class="col-lg-1">
    <span aria-hidden="true"><i class="fa fa-info"></i> Información</span>
  </a>
  <a href="#" (click)="cerrarSesion()" class="col-lg-1">
    <span aria-hidden="true"><i class="fa fa-sign-out"></i> Cerrar Sesión</span>
  </a>
  <nav id="user_logged" class="justify-content-between" style="color: grey; float: right">
    <div class="usuario-imagen" style="float: right">
      <!-- <img src="{{ url + 'obtener-archivo-imagen/' + identity.imagen }}" /> -->
    </div>
    <span id="identity_nombre_usuario" style="color: grey; float: right">
      <!-- {{ identity.nombre_usuario }} -->
    </span>
    <br />
    <br />
    <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" style="float: right">
      <span aria-hidden="true"><i class="fa fa-gear"></i>Mis Datos</span>
    </a>
  </nav>
</nav>
