@import "/src/app/app.component.scss";

.detalle-carrito {
  padding: 2rem;

  .container-carrito {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .carrito {
      width: 70%;
      padding: 1rem;

      .card-carrito-container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border: 1px solid purple;
        border-radius: 1rem;
        font-weight: 700;
        padding: 1rem;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
      }

      .producto {
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin: 0.5rem;
          width: 80px;
          height: 80px;
          background-color: red;
          display: inline-block;
        }

        .detalle-producto {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 1rem;

          span {
            display: block;
          }
        }

        @media (max-width: 768px) {
          flex-basis: 100%;
          margin-bottom: 1rem;
        }
      }

      .botones{
        flex-basis: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width: 2rem;
            text-align: center;
        }

        button{
            height: 1.8rem;
            width: 1.8rem;
            border: 0.1rem solid purple ;
            border-radius: 50%;
            background-color: #FAFAFA;
        }

        @media (max-width: 768px) {
          flex-basis: 100%;
          margin-bottom: 1rem;
        }
      }

      .subtotal{
        margin-right: 2rem;

        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
    }

    .total-carrito {
      width: 30%;
      padding: 1rem;

      .total {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
