<div class="detalle-carrito">
  <div class="container-carrito">
    <div class="carrito">
      <div *ngFor="let prod of productos">
        <div class="card-carrito-container d-flex justify-content-between align-items-center">
          <div class="producto">
            <img src="{{ prod.producto.imagen }}" />
            <div class="detalle-producto">
              <span>{{ prod.producto.nombre }}</span>
              <span>{{ prod.producto.descripcion }}</span>
              <span>{{ prod.producto.precio_unitario | currency:'ARS'}}</span>
            </div>
          </div>
          <div class="botones">
            <button (click) ="restarCantidad(prod)">-</button>
            <input type="text" value="{{ prod.cantidad }}">
            <button (click) ="sumarCantidad(prod)">+</button>
          </div>
          <div class="subtotal">
            <span>{{ prod.getSubtotal() | currency:'ARS' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="total-carrito d-flex align-items-center flex-column">
      <div class="total">
        <span>Total: {{ calcularTotal() | currency:'ARS' }}</span>
      </div>
      <button class="btn btn-primary">Continuar a checkout</button>
    </div>
  </div>
</div>
