<hr />

<shared-loading-spinner *ngIf="isLoading" textoCarga="Obteniendo pedidos.."></shared-loading-spinner>

<hr>
<div class="container-fluid">
  <h1>{{ titulo }}</h1>
  <hr />

  <!-- FORMULARIO PRINCIPAL CON FILTROS -->
  <form [formGroup]="myForm" (ngSubmit)="aplicarFiltroBusqueda()" class="row gy-3">
    <!-- Filtro por ID de pedido -->
    <div class="col-12 col-md-4 col-lg-2">
      <label for="idPedido">ID Pedido:</label>
      <input type="text" id="idPedido" formControlName="idPedido" class="form-control" placeholder="Buscar por ID" />
    </div>

    <div class="col-12 col-md-4 col-lg-2">
      <label for="fechaDesde">Fecha Desde:</label>
      <input type="date" id="fechaDesde" formControlName="fechaDesde" class="form-control" />
    </div>

    <div class="col-12 col-md-4 col-lg-2">
      <label for="fechaHasta">Fecha Hasta:</label>
      <input type="date" id="fechaHasta" formControlName="fechaHasta" class="form-control" />
    </div>

    <!-- Filtro por categoría -->
    <div class="col-12 col-md-4 col-lg-2">
      <label for="estado">Estado:</label>
      <select id="estado" formControlName="estado" class="form-control">
        <option value="">Seleccionar Estado</option>
        <option *ngFor="let est of estados" [value]="est">{{ est }}</option>
      </select>
    </div>

    <!-- Botón para aplicar filtros -->
    <div class="col-12 col-md-2 d-grid">
      <button type="submit" class="btn btn-primary mt-md-4 mt-sm-2">Buscar</button>
    </div>
  </form>


  <hr />

  <!-- MENSAJE SI NO HAY PEDIDOS -->
  <div *ngIf="pedidos?.length === 0" class="alert alert-warning text-center">
    No hay pedidos para mostrar
  </div>

  <!-- GRILLA DE RESULTADOS -->
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="table-responsive">
        <table class="table mt-4 " style="width: 100%;" > <!-- tabla-grilla table mt-4  -->
          <thead>
            <tr>
              <th>ID Pedido</th>
              <th>Estado</th>
              <th>Fecha Alta</th>
              <th>Total</th>
              <th style="width: 150px;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos">
              <td>{{ pedido.idPedido }}</td>
              <td [ngClass]="getEstadoClase(pedido.estado)" class="estado">
                {{ pedido.estado.toUpperCase() }}
              </td>
              <td>{{ pedido.fechaAlta | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>{{ pedido.subtotal | currency:'ARS':'symbol':'1.2-2' }}</td>
              <td>
                <div class="d-flex">
                  <button (click)="abrirModal(pedido.idPedido)" title="Ver Detalles" class="btn btn-info mx-1">
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <hr class="hr-separador">
        <a
          [href]="'https://wa.me/' + numero + '?text=' + mensaje"
          target="_blank"
          class="whatsapp-link">
          <i class="fa fa-whatsapp"></i> ¿Deseas cancelar un pedido?
        </a>

        <!-- <span>Si desea <strong>cancelar</strong> un pedido, comuníquese al <strong><i style="color: green;" class="fa fa-whatsapp"></i> +543401414992 </strong></span> -->
      </div>
    </div>
  </div>
</div>



<!-- <shared-footer></shared-footer> -->


<!-- MODAL: Detalle pedido -->
<app-modal-cancelar-confirmar #modal [title]="'VER DETALLE'" (closeModalEvent)="onModalClose()" (confirmEvent)="onModalConfirm()">
  <div class="row" >
    <div class="col-6">
      <!-- <strong>ID Pedido:</strong>  {{ pedido.idPedido }} -->
      <strong>ID Pedido:</strong> {{ pedidoDetalle?.idPedido }}
    </div>
    <div class="col-6">
      <!-- <strong>Cliente:</strong> {{ pedido.cliente.nombreCompleto }} -->
      <strong>Cliente:</strong> {{ pedidoDetalle?.cliente?.nombre_usuario }}
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-12">
      <h6>Productos:</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let producto of pedidoDetalle?.items">
          <div class="producto-detalle">
            <div class="producto-imagen">
              <img [src]="producto.idProducto.imagen" width="100" height="100" alt="Producto Imagen">
            </div>
            <div class="producto-info">
              <strong>{{ producto.idProducto.descripcion }}</strong>
              <ul class="ps-3">
                <li>Precio: {{ producto.precio | currency:'ARS':'symbol':'1.2-2' }}</li>
                <li>Cantidad: {{ producto.cantidad }}</li>
                <li>Total: {{ producto.total | currency:'ARS':'symbol':'1.2-2' }}</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-6">
      <strong>Estado:</strong> {{ pedidoDetalle?.estado }}
    </div>
    <div class="col-6">
      <strong>Fecha de Alta:</strong> {{ pedidoDetalle?.fechaAlta | date:'shortDate' }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-end">
      <strong>Total del Pedido:</strong> {{ pedidoDetalle?.subtotal | currency:'ARS':'symbol':'1.2-2' }}
    </div>
  </div>

</app-modal-cancelar-confirmar>
