@import 'src/_variables.scss';
@import "../../../_pedidos-variables.scss";

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $base-spacing * 0.75;
}

.filters-title {
  color: $color-primary;
  font-weight: $heading-font-weight;
  font-size: $base-spacing * 1.25;
  margin-bottom: 0;
}

form {
  background-color: $light-background;
  border: 1px solid rgba($color-primary, 0.1);
  border-radius: $base-spacing * 0.75;
  box-shadow: $shadow-sm;
  padding: $base-spacing * 1.5;

  .form-label {
    color: $color-primary;
    font-weight: 600;
    margin-bottom: $base-spacing * 0.25;
  }
}


.form-control,
.form-select {
  border: 1px solid $color-primary !important;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
  height: 38px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;

  &:focus {
    border-color: $color-secondary !important;
    box-shadow: 0 0 0 0.2rem rgba(rgba($color-secondary, 0.25), .25);
  }
}

app-modal-cancelar-confirmar {

   .modal-content {
        background-color: $white-background;
        border-radius: $base-spacing * 0.75;
        box-shadow: $shadow-lg;
        padding: $base-spacing * 1.5;
    }

    .modal-header {
        border-bottom: none;
        padding-bottom: 0;
    }

    .modal-title {
        font-size: $base-spacing * 1.25;
        font-weight: $heading-font-weight;
        color: $color-primary;
    }
}

//***** Whatsapp ******//
.whatsapp-link {
  color: white;
  background-color: #25d366;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.whatsapp-link i {
  margin-right: 8px;
  font-size: 20px;
}

 .logo-wap{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
 }

//***** DETALLE PRODUCTO *******//
.producto-detalle {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y la información */
  gap: 20px; /* Espacio entre la imagen y la información */
}

.producto-imagen img {
  border-radius: 5px; /* Bordes redondeados para la imagen */
}

.producto-info {
  flex-grow: 1; /* Hace que el texto ocupe todo el espacio restante */
}


  //***** MODAL CAMBIAR ESTADO *******//
  /* Fondo del modal */
  .modal-content {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  /* Estilo del título */
  .modal-header h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

  /* Texto del cuerpo */
  .modal-body p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #555;
  }

  /* Destacar el estado actual y el próximo estado */
  .modal-body strong {
    font-weight: bold;
    color: #007bff;
  }


