@import "/src/app/app.component.scss";

.lbl-subir-imagen {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: #AAA 1px dashed;
  cursor: pointer;
  margin-top: 1rem;
}

.mapa {
  display: inline-block;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  margin-left: 20px;
  overflow: hidden;
}

.btn-mapa{
  max-width: 50px;
  max-height: 50px;
  display: block;
  cursor: pointer;
}