@import 'src/_variables.scss';
@import "../../_pedidos-variables.scss";

.table td .btn {

  &.btn-info {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $white-background;
    &:hover {
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 7.5%);
    }
  }
  &.btn-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $white-background;
    &:hover {
      background-color: darken($color-secondary, 5%);
      border-color: darken($color-secondary, 7.5%);
    }
  }
  &.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: $text-color;
    &:hover {
      background-color: darken(#ffc107, 7.5%);
      border-color: darken(#ffc107, 10%);
    }
  }
  &.btn-danger {
    background-color: $color-danger;
    border-color: $color-danger;
    &:hover {
      background-color: darken($color-danger, 5%);
      border-color: darken($color-danger, 7.5%);
    }
  }
}