<div class="card card-carrito mb-3">
  <div class="card-body">
    <div class="row align-items-center no-gutters-sm">
      <div class="col-4 col-sm-2 col-md-2">
        <div class="imagen-carrito">
          <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" class="img-fluid rounded" />
        </div>
      </div>

      <div class="col-8 col-sm-5 col-md-4">
        <div class="detalle-producto-carrito">
          <h5 class="nombre-producto-carrito mb-1">{{ producto.nombre }}</h5>
          <p class="descripcion-producto-carrito mb-2">{{ producto.descripcion }}</p>
          <div class="precio-producto-carrito">
            <ng-container *ngIf="producto.promocionActiva; else elseTemplate">
              <div class="producto-con-promocion-carrito">
                <span class="precio-promocion-carrito">{{ producto.promocionActiva.precio | currency : "ARS" }}</span>
                <small class="precio-original-carrito tachado">{{ producto.precio_unitario | currency : "ARS" }}</small>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <span class="precio-original-carrito">{{ producto.precio_unitario | currency : "ARS" }}</span>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-5 col-md-6 d-flex flex-column flex-sm-row justify-content-between align-items-center mt-3 mt-sm-0">

        <div class="col-8 col-sm-4 col-md-5 text-center mb-3 mb-sm-0">
          <div class="botones-cantidad">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" (click)="restarCantidad()">-</button>
              </div>
              <input type="text" value="{{ cantidad }}" class="form-control text-center cantidad-input" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="sumarCantidad()">+</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 col-sm-4 col-md-5 text-center mb-3 mb-sm-0">
          <div class="subtotal-carrito">
            <span class="subtotal-valor-carrito">{{ subtotal | currency : "ARS" }}</span>
          </div>
        </div>

        <div class="d-block d-md-none col-12 text-right">
          <div class="borrar-item">
            <button type="button" class="btn btn-sm btn-danger quitar-producto-sm w-100" title="Quitar del carrito" (click)="eliminarItem()">
               Quitar
            </button>
          </div>
        </div>

        <div class="d-none d-md-block col-md-2 text-right">
          <div class="borrar-item">
            <button type="button" class="btn btn-sm btn-danger quitar-producto" title="Quitar del carrito" (click)="eliminarItem()">
              <fa-icon [icon]="trash"></fa-icon>
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>