<div class="row text-center info-section">
  <div class="col-md-4 icon-box">
    <i class="fa fa-globe"></i>
    <h4>Presencia Global</h4>
    <p>Operamos en más de 30 países en todo el mundo.</p>
  </div>
  <div class="col-md-4 icon-box">
    <i class="fa fa-users"></i>
    <h4>Equipo Dedicado</h4>
    <p>Más de 10,000 empleados comprometidos con la calidad.</p>
  </div>
  <div class="col-md-4 icon-box">
     <i class="fa fa-trophy" aria-hidden="true"></i>
    <h4>Premios y Reconocimientos</h4>
    <p>Reconocida como líder en innovación por múltiples organismos.</p>
  </div>
</div>

