<div class="row text-center info-section">
  <div class="col-md-4 icon-box">
    <i class="fa fa-globe"></i>
    <h4>Presencia Regional</h4>
    <p>Operamos en todas las zonas principales de la ciudad con gran responsabilidad.</p>
  </div>
  <div class="col-md-4 icon-box">
    <i class="fa fa-users"></i>
    <h4>Equipo Dedicado</h4>
    <p>Empresa familiar, con personas totalmente comprometidos con la calidad.</p>
  </div>
  <div class="col-md-4 icon-box">
     <i class="fa fa-trophy" aria-hidden="true"></i>
    <h4>Premios y Reconocimientos</h4>
    <p>Reconocida por atender sectores desatendidos de la ciudad y por el manejo de marcas reconocidas.</p>
  </div>
</div>

