<div class="info-section">
  <div class="row">
    <div class="col-md-6">
      <h2>Nuestra Historia</h2>
      <p>
        Fundada en 2010, Rosario Snack ha estado a la vanguardia de la industria, ofreciendo productos y servicios de calidad a nuestros clientes en todo el mundo. Nuestra misión es [Misión de la Empresa].
      </p>
    </div>
    <div class="col-md-6">
      <h2>Nuestra Visión</h2>
      <p>
        Aspiramos a ser líderes en [Industria] mediante la innovación constante, la responsabilidad social y la creación de valor sostenible para nuestros clientes, empleados y comunidades.
      </p>
    </div>
  </div>
</div>
