@import 'src/_variables.scss';

.img-producto {
  display: block;
  max-height: 200px;
  max-width: 200px;
}

.btn-cancelar {
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.3rem;
  border: none;

  &:hover {
    background-color: #ccc;
  }

  &:focus {
    outline: none;
  }
}

.lbl-subir-imagen {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: #aaa 1px dashed;
  cursor: pointer;
  margin-top: 1rem;
}

.precio-promocional {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: $color-secondary 2px dashed;
  display: flex;
  justify-content: space-between;

  .precio {
    font-weight: 700;
    color: #07743a;
  }

  a {
    margin-right: 1rem;
    color: $color-secondary;

    &:hover {
      color: lighten($color-secondary, 10);
      cursor: pointer;
    }


  }

  i {
    font-size: 1.5rem;
  }
}

.eliminacion{
  color: rgb(219, 81, 81);

  &:hover {
    color: lighten(rgb(219, 81, 81), 10);
    cursor: pointer;
  }
}

.select-tipo {
  padding-right: 1rem;
}

.campo {
  margin-top: 1rem;
}
