<div *ngIf="productosFiltrados">
  <div class="container">
    <div class="row">
      <div class="cards-container">
        <div class="card mb-2 shadow-sm" *ngFor="let prod of productosFiltrados">
          <img src="{{ prod.imagen }}" alt="{{ prod.nombre }}" class="imagen" />
          <div class="card-body">
            <h5 class="card-title" title="{{prod.nombre}}">{{ prod.nombre }}</h5>
            <p class="card-text">{{ prod.descripcion }}</p>
            <div class="precios" *ngIf="!prod.promocionActiva; else conPromocion">
              <span class="precio-unitario">${{ prod.precio_unitario }}</span>
            </div>

            <ng-template #conPromocion>
              <div class="precios">
                <span class="precio-promocion" *ngIf="prod.promocionActiva">${{ prod.promocionActiva.precio }}</span>
                <span class="precio-unitario tiene-promocion">${{ prod.precio_unitario }}</span>
              </div>
            </ng-template>

            <button type="button" class="btn btn-primary" (click)="agregarItemCarrito(prod)">
              {{getTextoBoton(prod)}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>