<div *ngIf="productosFiltrados">

    <div class="row">
      <div class="col-md-2">
        <h5>Filtros</h5>
        <form [formGroup]="formFiltros">
          <div class="form-group">
            <label>Tipo de producto</label>
            <select class="form-control" formControlName="tipoProductoSeleccionado">
              <option value="">Todos</option>
              <option *ngFor="let tipo of tiposDeProductos" [value]="tipo.descripcion">{{ tipo.descripcion }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" min="0" formControlName="precioMinimoFiltro" placeholder="Mínimo">
            <input type="number" class="form-control my-2" min="productoForm.get('precioMinimoFiltro')" formControlName="precioMaximoFiltro" placeholder="Máximo">
          </div>
          <button type="button" class="btn btn-primary" (click)="aplicarFiltros()">Aplicar filtros</button>
        </form>
      </div>
      <div class="col-md-9">
        <div class="cards-container">
          <div class="card mb-2 shadow-sm" *ngFor="let prod of productosFiltrados">
            <img src="{{ prod.imagen }}" alt="{{ prod.nombre }}" class="imagen" />
            <div class="card-body">
              <h5 class="card-title" title="{{prod.nombre}}">{{ prod.nombre }}</h5>
              <p class="card-text">{{ prod.descripcion }}</p>
              <div class="precios" *ngIf="!prod.promocionActiva; else conPromocion">
                <span class="precio-unitario">{{ prod.precio_unitario | currency : "ARS"   }}</span>
              </div>

              <ng-template #conPromocion>
                <div class="precios">
                  <span class="precio-promocion" *ngIf="prod.promocionActiva">{{ prod.promocionActiva.precio | currency : "ARS" }}</span>
                  <span class="precio-unitario tiene-promocion">{{ prod.precio_unitario  | currency : "ARS"  }}</span>
                </div>
              </ng-template>

              <p *ngIf="prod.stock <1" class="sin-stock">SIN STOCK</p>
              <button type="button" class="btn btn-primary" [disabled]="prod.stock <1" (click)="agregarItemCarrito(prod)">
                {{getTextoBoton(prod)}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
