@import 'src/_variables.scss';

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  flex-basis: calc(24% - 2em);
  flex: 1 1 calc(24% - 2em);
}

.imagen {
  width: 100%;
  height: 20vh;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  color: $color-primary;
}

.card-text {
  overflow-y: auto;
  max-height: 10vh;
  color: #666;
  flex-grow: 1; /* Ocupa el espacio disponible */
}

.precios {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: $color-primary
}

.sin-stock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.precio-unitario {
  font-size: 1.2em;
  margin-right: 1em;

  &.tiene-promocion {
    text-decoration: line-through;
    color: #b0b0b0;
    margin-left: 0.3em;
    letter-spacing: 0.05rem;
  }
}

.precio-promocion {
  letter-spacing: 0.05rem;
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}


.btn-primary{
  width: 100%;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: auto;

}

.paginador-productos {
  text-align: center;
  display: block;
  background-color: transparent;
}


@media (max-width: 768px) {
  .card {
    margin: 0.5em;
  }

  .imagen {
    height: 15vh;
  }

  .card-body {
    padding: 0.5em;
  }

  .card-title {
    font-size: 1.2em;
  }

  .descripcion {
    font-size: 0.8em;
  }

  .precios {
    flex-direction: column;
  }

  .precio-unitario {
    font-size: 1em;
  }

  .precio-promocion {
    font-size: 1.2em;
  }
}
