<h1 id="head-title" class="head-title">
  <a [routerLink]="['/']">
    <span aria-hidden="true"><i class="fa fa-apple"></i> test</span>
  </a>
</h1>
<nav id="navigation" class="navbar navbar-dark bg-dark justify-content-between">
  <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-home"></i> Inicio</span>
  </a>
  <a href="#" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-search"></i> Buscar</span>
  </a>
  <a [routerLink]="['/pedidos']" [routerLinkActive]="['actived']" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-gear"></i> Pedidos</span>
  </a>
  <a href="#" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-cogs"></i> Cuenta</span>
  </a>
  <a href="#" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-info"></i> Información</span>
  </a>
  <a href="#" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-share"></i> Enviar Sugerencia</span>
  </a>
  <a href="#" class="col-lg-1" >
    <span aria-hidden="true"><i class="fa fa-sign-out"></i> Cerrar Sesión</span>
  </a>
  <!-- <div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
      <img src="{{ url + 'obtener-archivo-imagen/' + identity.imagen }}" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">Mis Datos</a></li>
      <li><a class="dropdown-item" href="#">Estado de Cuenta</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="logout()" href="#">Cerrar sesión</a></li>
    </ul>
  </div>     -->
    <nav id="user_logged" class="justify-content-between" style="color: grey; float: right;">
        <div class="usuario-imagen" style="float: right;">
          <!-- <img src="{{ url + 'obtener-archivo-imagen/' + identity.imagen }}" /> -->
        </div>
        <span id="identity_nombre_usuario" style="color: grey; float: right;">
          <!-- {{ identity.nombre_usuario }} -->
        </span>
        <br>
        <br>
        <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" style="float: right;">
          <span aria-hidden="true"><i class="fa fa-gear"></i>Mis Datos</span>
        </a>
    </nav>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

</nav>

<div class="page-container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>