
.footer {
  background-color: #343a40 !important; /* Asegura que el color de fondo sea negro */
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
