@import "src/_variables.scss";
@import "../../../_pedidos-variables.scss";

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $base-spacing * 0.75;
}

.filters-title {
  color: $color-primary;
  font-weight: $heading-font-weight;
  font-size: $base-spacing * 1.25;
  margin-bottom: 0;
}

form {
  background-color: $light-background;
  border: 1px solid rgba($color-primary, 0.1);
  border-radius: $base-spacing * 0.75;
  box-shadow: $shadow-sm;
  padding: $base-spacing * 1.5;
  .form-label {
    color: $color-primary;
    font-weight: 600;
    margin-bottom: $base-spacing * 0.25;
  }
  .form-control,
  .form-select {
    border: 1px solid $color-primary !important;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
    &:focus {
      border-color: $color-secondary !important;
      box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.25);
    }
  }
  .btn-primary {
    @extend .btn-primary;
  }
}

.form-control,
.form-select {
  border: 1px solid $color-primary !important;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
  height: 38px; // Por ejemplo, la altura por defecto de form-control en Bootstrap 4
  &:focus {
    border-color: $color-secondary !important;
    box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.25);
  }
}

.table-responsive {
  border-radius: $base-spacing * 0.75;
  box-shadow: $shadow-md;
  background-color: $white-background;
  padding: $base-spacing;
}

.table {
  thead {
    th {
      color: $color-primary;
      font-weight: $heading-font-weight;
      border-bottom: 2px solid lighten($color-primary, 30%);
      padding-bottom: $base-spacing * 0.75;
      text-align: center;
    }
  }
  tbody {
    td {
      padding: $base-spacing * 0.75;
      vertical-align: middle;
      color: $text-color;
      border-top: 1px solid lighten($text-color, 65%);
      text-align: center;
    }
    tr:first-child td {
      border-top: none;
    }
  }
}

.table td .btn {
  font-size: $base-spacing * 0.75;
  padding: $base-spacing * 0.35 $base-spacing * 0.55;
  border-radius: $base-spacing * 0.25;

  &.btn-info {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $white-background;
    &:hover {
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 7.5%);
    }
  }
  &.btn-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $white-background;
    &:hover {
      background-color: darken($color-secondary, 5%);
      border-color: darken($color-secondary, 7.5%);
    }
  }
  &.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: $text-color;
    &:hover {
      background-color: darken(#ffc107, 7.5%);
      border-color: darken(#ffc107, 10%);
    }
  }
  &.btn-danger {
    background-color: $color-danger;
    border-color: $color-danger;
    &:hover {
      background-color: darken($color-danger, 5%);
      border-color: darken($color-danger, 7.5%);
    }
  }
}

app-modal-cancelar-confirmar {
  .modal-content {
    background-color: $white-background;
    border-radius: $base-spacing * 0.75;
    box-shadow: $shadow-lg;
    padding: $base-spacing * 1.5;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .modal-title {
    font-size: $base-spacing * 1.25;
    font-weight: $heading-font-weight;
    color: $color-primary;
  }

  .modal-body-content {
    padding: $base-spacing;
    .text-secondary {
      color: lighten($text-color, 15%) !important;
    }
    p.font-weight-bold {
      font-weight: $heading-font-weight !important;
      color: $text-color;
    }
  }

  .producto-imagen img {
    border-radius: $base-spacing * 0.5;
    object-fit: contain;
  }
  .producto-info {
    ul {
      li {
        font-size: $base-spacing * 0.9;
        color: $text-color;
        span {
          font-weight: $heading-font-weight;
          color: $color-primary;
        }
      }
    }
  }
}
#collapseSummaryMobile {
  .table {
    td {
      &.pendiente {
        color: #ffc107; // Color de Bootstrap warning
        font-weight: $heading-font-weight; // Opcional: para que resalte
      }
      &.autorizacion {
        color: $color-primary;
        font-weight: $heading-font-weight;
      }
      &.preparacion {
        color: #fd7e14; // Naranja
        font-weight: $heading-font-weight;
      }
      &.empaquetado {
        color: #0d6efd; // Azul
        font-weight: $heading-font-weight;
      }
      &.despacho {
        color: #6f42c1; // Púrpura
        font-weight: $heading-font-weight;
      }
      &.distribucion {
        color: #20c997; // Verde agua
        font-weight: $heading-font-weight;
      }
      &.facturacion {
        color: #6610f2; // Índigo
        font-weight: $heading-font-weight;
      }
      &.cancelado {
        color: $color-danger; // Usar tu $color-danger
        font-weight: $heading-font-weight;
      }
      &.completado {
        color: $promo-color; // Usar tu $promo-color
        font-weight: $heading-font-weight;
      }
    }
  }
}
