<hr>
<div class="col-lg-6" style="margin: 15px" >
    <h1>{{ titulo }}</h1>

    <!-- <div *ngIf="alertaActualizacion">
      <div class="alert alert-info" role="alert">
        {{alertaActualizacion}}
      </div>
    </div> -->

    <!-- Formualario -->
    <form #usuarioActualizacionForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
      <p>
        <label>Nombre/s:</label>
        <input type="text" name="nombre" [(ngModel)]="personaEdicion.nombre" class="form-control" required>
      </p>
      <p>
        <label>Apellido:</label>
        <input type="text" name="apellido" [(ngModel)]="personaEdicion.apellido" class="form-control" required>
      </p>
      <p>
        <label>Dirección:</label>
        <input type="text" name="direccion" [(ngModel)]="personaEdicion.direccion" class="form-control" required>
      </p>
      <p>
        <label>Teléfono:</label>
        <input type="text"  name="telefono" [(ngModel)]="personaEdicion.telefono" class="form-control" required>

      </p>

      <br/>
      <!-- <div class="imagen_para_edicion" *ngIf="urlImagen">
        <img id="imagen-logueado" src="{{ url + 'obtener-archivo-imagen/' + usuario_persona_actualizacion.imagen }}" style="width: 50px"/>
      </div> -->

      <p>
        <label>Sube tu foto: </label><br>
        <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
      </p>

      <hr>

      <input type="submit" value="Actualizar mis datos" class="btn btn-primary" required>
    </form>
  </div>