<div class="head-page" *ngIf="identity">
    <h1>{{ titulo }}</h1>
    <hr>

    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn.agroempresario.com/images/posts/783aafce669771e6d3b0a51ed620390fac8ff2bb41bd4007_840.jpg" alt="" width="115" height="100">
    <h1 class="display-5 fw-bold">Tu sistema de Distribución de Snacks</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        Juntos podemos tener la mejor organización de nuestros productos de snacks, a nivel distribución, clientes y pedidos. Facilitando a nuestros clientes en sus compras, como a nosotros a gestionar las mismas.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Promociones</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Descuentos Exclusivos</button>
        </div>
    </div>
    </div>

    <div class="b-example-divider"></div>
</div>
    
    
<!-- <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
