<div style="margin-top: 2rem">
  <shared-buscador placeholder="Ingresar nombre producto" (onValue)="buscarProductoPorNombre($event)"></shared-buscador>

  <a class="btn-nuevo-producto" [routerLink]="['nuevo']" routerLinkActive="router-link-active">Nuevo</a>

  <ul>
    <li class="producto-lista flex justify-content-between" *ngFor="let prod of productosFiltrados">
      <span class="nombre-producto">{{ prod.nombre }}</span>
      <!-- <a [routerLink]="['promociones', prod._id]" routerLinkActive="router-link-active"> <fa-icon [icon]="promoIcon"></fa-icon></a> -->
      <a [routerLink]="[prod._id, 'promociones']" routerLinkActive="router-link-active" title="Promociones"> <i class="fa fa-dollar"></i></a>
      <a [routerLink]="['detalle', prod._id]" routerLinkActive="router-link-active" title="Ver detalle"><i class="fa fa-edit"></i></a>
      <a (click)="confirmarEliminacion(prod._id)" title="Eliminar">
        <i class="fa fa-trash"></i>
      </a>
    </li>
  </ul>

  <paginador class="paginador-productos" *ngIf="infoPagina" [paginaActual]="infoPagina.paginaActual" [linkSiguiente]="infoPagina.linkSiguiente" [linkAnterior]="infoPagina.linkAnterior" [totalPaginas]="infoPagina.totalPaginas" [totalElementos]="infoPagina.totalElementos" (navegar)="irPagina($event)" (navegarAnterior)="navegarAnterior()" (navegarSiguiente)="navegarSiguiente()"></paginador>
</div>
