
<div class="recuperar-clave-container container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 d-flex flex-column align-items-center">

      <h2 class="mb-4">Recuperar Contraseña</h2>
      <form [formGroup]="recuperarClaveForm" (ngSubmit)="actualizarClave()" class="w-100">
        <div class="form-group mb-4">
          <label for="nuevaClave" class="form-label">Nueva Contraseña</label>
          <input
            id="nuevaClave"
            type="password"
            formControlName="nuevaClave"
            class="form-control"
            placeholder="Ingresa tu nueva contraseña"
          />
          <div *ngIf="formControls['nuevaClave'].touched && formControls['nuevaClave'].invalid" class="text-danger mt-1">
            <small *ngIf="formControls['nuevaClave']?.errors?.['required']">Este campo es obligatorio.</small>
            <small *ngIf="formControls['nuevaClave'].errors?.['minlength']">Mínimo 6 caracteres.</small>
          </div>
        </div>

        <div class="form-group mb-4">
          <label for="confirmarClave" class="form-label">Confirmar Contraseña</label>
          <input
            id="confirmarClave"
            type="password"
            formControlName="confirmarClave"
            class="form-control"
            placeholder="Confirma tu nueva contraseña"
          />
          <div *ngIf="formControls['confirmarClave'].touched && formControls['confirmarClave'].invalid" class="text-danger mt-1">
            <small *ngIf="formControls['confirmarClave'].errors?.['required']">Este campo es obligatorio.</small>
            <small *ngIf="recuperarClaveForm.errors?.['noCoincide']">Las contraseñas no coinciden.</small>
          </div>
        </div>

        <button type="submit" [disabled]="recuperarClaveForm.invalid" class="btn btn-primary w-100">Actualizar Contraseña</button>
      </form>

    </div>
  </div>
</div>
