// src/_variables.scss

// Colores de tu paleta personalizada
$color-primary: #002B53;
$color-secondary: #483DA7;

// Color de texto principal
$text-color: #333333;

$promo-color: #07743a;

// Otros colores específicos que uses mucho
$light-background: #F8F9FA; // Para fondos sutiles
$white-background: #FFFFFF; // Para fondos blancos puros

// Espaciado base (usa $spacer de Bootstrap si te gusta, si no, puedes definir tu propio $base-spacing)
$base-spacing: 1rem; // Equivalente a 16px

// Tipografía
$base-font-family: Roboto, "Helvetica Neue", sans-serif;
$heading-font-weight: 600;

// Variables para sombras
$shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$shadow-md: 0 .25rem .5rem rgba(0, 0, 0, .1);
$shadow-lg: 0 .5rem 1rem rgba(0, 0, 0, .15);
