<h3>{{ titulo }}</h3>

<!-- LOADING -->
<shared-loading-spinner *ngIf="isLoading" textoCarga="Buscando usuarios.."></shared-loading-spinner>

<!-- BUSCADOR -->
<shared-buscador
    placeholder="Ingrese el nombre de usuario.."
    (onValue)="buscarPorNombreUsuario($event)"
    ></shared-buscador>

<div *ngIf="listaUsuarios.length === 0" class="alert alert-warning text-centes">
  No hay usuarios para mostrar
</div>

<div *ngIf="listaUsuarios.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Nombre de Usuario</th>
        <th>Fecha Registro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listaUsuarios; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ usuario.email }}
        </td>
        <!-- <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td> -->
        <td>{{ usuario.nombre_usuario }}</td>
        <td>{{ usuario.fecha_registro | date:'dd/MM/yyyy' }}</td>
        <!-- <td>
          <a [routerLink]="['/countries/by/', country.cca3 ]" routerLinkActive="router-link-active">Info</a>
        </td> -->

      </tr>
    </tbody>
  </table>
</div>


<!-- Pie de Página -->
<!-- <shared-footer></shared-footer> -->
